@mixin btn-mx($n, $spacing) {
    padding: 1.25rem 2.5rem;
    border-radius: $n;
    letter-spacing: $spacing;
    font-weight: 700;
    background: $btnBg;
    color: $white;
   }
   
   @mixin profColor($n) {
       background: $n;
   }